doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">

html(class="no-js", lang="en")

	head

		//Basic page needs
		meta(charset="utf-8")
		title
		meta(name="description", content="")
		meta(name="author", content="")

		//Mobile Specific Metas
		meta(name="viewport", content="width=device-width", initial-scale=1, maximum-scale=1)

		//CSS
		link(rel="stylesheet", type="text/css", href="stylesheets/base.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/fonts.css") 
		link(rel="stylesheet", type="text/css", href="stylesheets/grid.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/isotope.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
		link(rel="stylesheet", type="text/css", href="stylesheets/loader.css")

		//Javascript
		//-script(src="scripts/modernizr.js")
		script(src="scripts/jquery-1.10.2.min.js")
		script(src="scripts/jquery.easing.1.3.js")
		script(src="scripts/jquery.isotope.min.js")
		script(src="scripts/gifts.js")
		script(src="scripts/javascript.js")

		//Fonts
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Playfair+Display:900")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto:300,400,700")

		//Facebook Stuff
		meta(property="og:title", content="")
		meta(property="og:url", content="http://data.baltimoresun.com")
		meta(property="og:image", content="")

		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="")
		meta(name="twitter:title", content="")
		meta(name="twitter:description", content="")
		meta(name="twitter:image", content="")
		meta(name="twitter:domain", content="baltimoresun.com")

		//Baltimore Sun Ad Code
		script
			var gptadslots=[];
			var googletag = googletag || {};
			googletag.cmd = googletag.cmd || [];
			(function(){ var gads = document.createElement('script');
				gads.async = true; 
				gads.type = 'text/javascript';
				var useSSL = 'https:' == document.location.protocol;
				gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
				var node = document.getElementsByTagName('script')[0];
				node.parentNode.insertBefore(gads, node);
			})();

		script
			googletag.cmd.push(function() {
				//Adslot 1 declaration
				gptadslots[1]= googletag.defineSlot('/4011/trb.baltimoresun/ent/giftguide', [[300,250]],'div-gpt-ad-423520882844194554-1').setTargeting('pos',['1']).addService(googletag.pubads());

				googletag.pubads().setTargeting('ptype',['sf']);
				googletag.pubads().enableAsyncRendering();
				googletag.enableServices();
			});

	body
		#tophat
			.group
				#logo
					a(href="http://www.baltimoresun.com")
						img(src="images/baltimore-sun-logo-white.png" border="0")
				#share-tools
					span.icon-facebook
					span.icon-twitter
		#panel
			header Gift Guide
			#ribbon
				img(src="images/ribbon@2x.png" width="100")
			#chatter.
				Need the perfect gift for your spouse, kid’s teacher or even your next-door neighbor? Look no further. Just filter by the categories below to see the Baltimore Sun editors’ picks for this holiday season.
			.group	
				#categories.filters
					.list-header BY CATEGORY
					.list-header-mobile <span> All Categories</span>
					ul
						li.selected(data-filter="*" data-label="All Categories") All
						li(data-filter="books" data-label="Books") Books
						li(data-filter="fashion" data-label="Fashion") Fashion
						li(data-filter="food" data-label="Food") Food &amp; drinks
						li(data-filter="handmade" data-label="Handmade") Handmade
						li(data-filter="health" data-label="Health") Health &amp; wellness
						li(data-filter="home" data-label="Home") Home
						li(data-filter="kids" data-label="Kids") Kids
						li(data-filter="local" data-label="Local") Locally made
						li(data-filter="men" data-label="Men") Men
						li(data-filter="pets" data-label="Pets") Pets
						li(data-filter="sports" data-label="Sports") Sports &amp; recreation
						li(data-filter="technology" data-label="Tech.") Technology
						li(data-filter="travel" data-label="Travel") Travel
						li(data-filter="women" data-label="Women") Women

				#prices.filters
					.list-header BY PRICE
					.list-header-mobile <span> All Prices</span>					
					ul
						li(data-filter="*" data-label="All Prices").selected All
						li(data-filter="25" data-label="Under $25") Under $25
						li(data-filter="50" data-label="Under $50") Under $50
						li(data-filter="100" data-label="Under $100") Under $100
						li(data-filter="250" data-label="Under $250") Under $250
						li(data-filter="500" data-label="Under $500") Under $500
				//Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/ent/giftguide  ### size: [[300,250]]
				#cube-ad ADVERTISEMENT
					//Adslot's refresh function: googletag.pubads().refresh([gptadslots[1]])
					#div-gpt-ad-423520882844194554-1
						script
							googletag.cmd.push(function() { googletag.display('div-gpt-ad-423520882844194554-1'); });				
		#gift-side
			#sharebox
				#sharebox-header Shared with you
					#sb-close
						span.icon-cross
				#sharebox-content
					.group
						#sb-image
						#sb-info
							#sb-name
							#sb-brand
							#sb-price $<span></span>
							#sb-desc
							#sb-link <a href="#" target="_blank"> Buy now </a>
			#lb-overlay.loading
				#gift-loader.visible
					#icon
						span.icon-gift
					.loader
						- for(i=0; i < 8; i++)
							.side				
			#gifts
				#lightbox
					#lb-image
					#lb-info
						#lb-name 
						#lb-brand
						#lb-price $<span></span>
						#lb-desc 
						#lb-link <a href="#" target="_blank"> Buy now </a>
						#lb-social
							span.icon-facebook
							span.icon-twitter
						#lb-close
							span.icon-cross

		script(src="scripts/isotope.center.js")
		script
			var $container = $('#gifts');

			$container.isotope({
				itemSelector : '.gift',
			});



