@charset "UTF-8";
/********* SITE STYLES ********** */
html, body {
  background-color: #233468;
  font-family: "Roboto", sans-serif; }

#tophat {
  height: 40px;
  background-color: #222222;
  overflow: hidden; }

#logo {
  width: 250px;
  height: 100%;
  float: left;
  line-height: 48px;
  vertical-align: middle; }
  #logo img {
    margin: 0 10px;
    width: 100%; }
  @media (max-width: 400px) {
    #logo {
      width: 200px; } }

#share-tools {
  float: right;
  height: 100%;
  line-height: 40px;
  font-size: 30px;
  vertical-align: middle;
  color: white;
  margin: 0 10px; }
  #share-tools span {
    cursor: pointer; }
    #share-tools span:hover {
      color: #DFBAC1; }

#panel {
  background-color: #233468;
  width: 306px; }
  #panel header {
    font-family: 'Oleo Script', cursive;
    font-size: 90px;
    color: white;
    line-height: 1;
    text-align: center; }
    @media (max-width: 450px) {
      #panel header {
        font-size: 56px; } }
  @media (max-width: 875px) {
    #panel {
      height: auto;
      width: auto;
      text-align: center; } }

.cube-ad {
  height: 250px;
  width: 300px;
  margin: 40px auto 70px auto;
  color: #a58411;
  font-size: 12px;
  border-top: 1px solid #775f0c; }
  .cube-ad div {
    margin-top: 5px; }
  @media (max-width: 875px) {
    .cube-ad {
      display: none; } }
  .cube-ad.mobile {
    display: none; }
    @media (max-width: 875px) {
      .cube-ad.mobile {
        display: block; } }

#ribbon {
  margin: 55px 0 30px 0;
  border-top: 3px solid #b6a5be;
  height: 2px;
  border-bottom: 1px solid #b6a5be;
  text-align: center; }
  #ribbon img {
    position: relative;
    bottom: 52px; }
    @media (max-width: 450px) {
      #ribbon img {
        width: 80px;
        bottom: 15px; } }

#chatter {
  padding: 20px;
  color: white;
  text-align: left; }

.filters {
  padding: 20px;
  color: white; }
  @media (max-width: 875px) {
    .filters ul {
      max-height: 0px;
      overflow: hidden;
      -webkit-transition: max-height 0.5s;
      transition: max-height 0.5s; }
      .filters ul.visible {
        max-height: 450px; } }
  .filters ul li {
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
    text-align: left; }
    .filters ul li:hover {
      color: #DFBAC1; }
    .filters ul li.selected {
      color: #DFBAC1;
      font-weight: 700;
      cursor: default; }
  @media (max-width: 875px) {
    .filters {
      display: inline-block;
      vertical-align: top;
      padding: 0 20px; } }
  @media (max-width: 400px) {
    .filters {
      padding: 0 10px; } }

.list-header {
  font-weight: 700;
  font-size: 20px; 
  font-family: 'Oleo Script', cursive;
  }
  @media (max-width: 875px) {
    .list-header {
      display: none; } }

.list-header-mobile {
  font-weight: 700;
  font-size: 20px;
  display: none; }
  .list-header-mobile span {
    display: inline-block;
    min-width: 100px;
    padding: 0 25px 5px 0;
    color: #DFBAC1;
    border-bottom: 1px solid #AE531A;
    position: relative;
    cursor: pointer; }
    .list-header-mobile span:after {
      font-family: "icons";
      content: "";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      line-height: 20px;
      vertical-align: middle;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: rotate(0deg) translateY(0px);
      -ms-transform: rotate(0deg) translateY(0px);
      transform: rotate(0deg) translateY(0px); }
    .list-header-mobile span.reverse:after {
      -webkit-transform: rotate(180deg) translateY(5px);
      -ms-transform: rotate(180deg) translateY(5px);
      transform: rotate(180deg) translateY(5px); }
  @media (max-width: 875px) {
    .list-header-mobile {
      display: block; } }

#related-links {
  background-color: #001209;
  padding: 20px;
  color: white; }
  #related-links a:link {
    color: white;
    text-decoration: none; }
  #related-links a:visited {
    color: white;
    text-decoration: none; }
  #related-links a:hover {
    color: white;
    text-decoration: none; }
  #related-links a:active {
    color: white;
    text-decoration: none; }
  #related-links ul {
    list-style-type: disc;
    margin-top: 0px;
    padding: 10px 20px; }
    #related-links ul li {
      padding: 5px;
      margin: 0; }
  @media (max-width: 875px) {
    #related-links {
      display: none; } }

#credits {
  padding: 20px;
  color: white; }
  @media (max-width: 875px) {
    #credits {
      display: none; } }

#gift-side {
  background-color: #E0E0E0;
  position: absolute !important;
  top: 40px;
  left: 306px;
  right: 0;
  min-height: 2000px; }
  @media (max-width: 875px) {
    #gift-side {
      position: relative !important;
      top: 0;
      left: 0;
      min-height: 300px; } }

#gifts {
  margin: auto; }

.gift {
  width: 230px;
  margin: 5px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  overflow: hidden; }
  .gift img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    .gift img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .gift:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #233468;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 9; }
  .gift:hover:after {
    opacity: 0.7; }
  @media (max-width: 1024px) {
    .gift {
      margin: 3px; } }
  @media (max-width: 800px) {
    .gift:hover:after {
      opacity: 0; } }
  @media (max-width: 500px) {
    .gift {
      width: 140px; } }

.gift-name {
  position: absolute;
  top: 30px;
  left: 0;
  width: 86%;
  margin: 0 7%;
  z-index: 10;
  color: white;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .gift-name:after {
    content: attr(data-brand);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    -webkit-transform: translateY(35px);
    -ms-transform: translateY(35px);
    transform: translateY(35px);
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  .gift-name.visible {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }
    .gift-name.visible:after {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px); }
  @media (max-width: 800px) {
    .gift-name.visible {
      display: none; }
      .gift-name.visible:after {
        display: none; } }

.gift-social {
  display: none;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: white;
  font-size: 30px;
  z-index: 10;
  line-height: 1; }
  .gift-social span {
    display: inline-block;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    .gift-social span:hover {
      color: #DFBAC1; }
  .gift-social.visible span {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }

.gift-more {
  position: absolute;
  bottom: 10px;
  left: 7%;
  color: white;
  font-weight: 700;
  font-size: 14px;
  z-index: 10;
  line-height: 1;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .gift-more:hover {
    color: #DFBAC1; }
  .gift-more.visible {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  @media (max-width: 800px) {
    .gift-more {
      display: none; } }

#lightbox {
  height: 350px;
  width: 700px;
  position: fixed;
  z-index: 12;
  color: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #lightbox.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  @media (max-width: 1024px) {
    #lightbox {
      width: 60%; } }
  @media (max-width: 875px) {
    #lightbox {
      width: 80%; } }
  @media (max-width: 730px) {
    #lightbox {
      height: auto; } }
  @media (max-width: 475px) {
    #lightbox {
      width: 95%; } }

#lb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #233468;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 11; }
  #lb-overlay.visible {
    opacity: 0.8;
    visibility: visible; }
  #lb-overlay.loading {
    opacity: 0.9;
    visibility: visible; }

#lb-image, #sb-image {
  float: left;
  height: 100%;
  width: 40%;
  background-color: #E0E0E0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

@media (max-width: 730px) {
  #lb-image {
    display: none; } }

#lb-info, #sb-info {
  float: left;
  height: 100%;
  width: 60%;
  background-color: #222222; }

@media (max-width: 730px) {
  #lb-info {
    height: auto;
    width: auto;
    float: none; } }

#lb-name, #sb-name {
  font-size: 34px;
  line-height: 1.2;
  padding: 0 15px;
  margin: 10px 0 0 0; }
  @media (max-width: 730px) {
    #lb-name, #sb-name {
      padding: 10px 45px 10px 15px; } }

#lb-brand, #sb-brand {
  font-size: 16px;
  padding: 0 15px 5px 15px;
  margin: 0 0 10px 0;
  color: #A9A9A9;
  border-bottom: 1px solid #444444; }

#lb-price, #sb-price {
  font-size: 32px;
  line-height: 1;
  color: #DFBAC1;
  padding: 0 15px;
  margin: 10px 0; }

#lb-desc, #sb-desc {
  padding: 0 15px;
  margin: 10px 0; }
  #lb-desc a:link, #sb-desc a:link {
    color: #DFBAC1;
    text-decoration: underline; }
  #lb-desc a:visited, #sb-desc a:visited {
    color: #DFBAC1;
    text-decoration: underline; }
  #lb-desc a:hover, #sb-desc a:hover {
    color: #DFBAC1;
    text-decoration: underline; }
  #lb-desc a:active, #sb-desc a:active {
    color: #DFBAC1;
    text-decoration: underline; }

#lb-link, #sb-link {
  padding: 0 15px;
  font-size: 22px;
  line-height: 1;
  margin: 15px 0 5px 0; }
  #lb-link a:link, #sb-link a:link {
    color: #DFBAC1;
    text-decoration: none; }
  #lb-link a:visited, #sb-link a:visited {
    color: #DFBAC1;
    text-decoration: none; }
  #lb-link a:hover, #sb-link a:hover {
    color: #DFBAC1;
    text-decoration: none; }
  #lb-link a:active, #sb-link a:active {
    color: #DFBAC1;
    text-decoration: none; }

#lb-social {
  padding: 0 15px;
  margin-top: 10px; }
  #lb-social span {
    font-size: 30px;
    line-height: 1;
    cursor: pointer;
    margin-right: 5px; }
    #lb-social span:hover {
      color: #DFBAC1; }

#lb-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer; }
  @media (max-width: 730px) {
    #lb-close {
      top: 15px; } }

#sharebox {
  background-color: #222222;
  color: white;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  padding: 0; }
  #sharebox.visible {
    padding: 1px 0;
    max-height: 350px; }
  @media (max-width: 600px) {
    #sharebox.visible {
      max-height: 400px; } }

#sharebox-header {
  font-size: 16px;
  color: #A9A9A9;
  padding: 10px 0 10px 10px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: black;
  text-align: center;
  border-bottom: 1px solid #333333;
  position: relative; }

#sharebox-content {
  width: 70%;
  margin: 10px auto;
  position: relative; }
  @media (max-width: 875px) {
    #sharebox-content {
      width: 90%; } }

#sb-image {
  position: absolute; }
  @media (max-width: 575px) {
    #sb-image {
      display: none; } }

#sb-info {
  position: relative;
  left: 40%; }
  @media (max-width: 600px) {
    #sb-info {
      left: 0;
      height: auto;
      width: auto; } }

#sb-brand {
  border: 0; }

#sb-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  cursor: pointer; }

#gift-loader {
  position: fixed;
  top: 45%;
  left: calc(50% + 100px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #gift-loader.visible {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 875px) {
    #gift-loader {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      text-align: center; } }

/***** CLEARFIX **** */
.group:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

* html .group {
  zoom: 1; }

*:first-child + html .group {
  zoom: 1; }

/*# sourceMappingURL=style.css.map */